.text-p{
  color: #919191;
}
.intro-span{
  display: block;
}

.intro-right{
  color: #C1C1C1;
  border-left: 1px solid #C1C1C1;
}

.img-lg{
   border-radius: 20px;  
}

.subtitle{
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
  color: #1e1e1e;
  
}
.subtitle-p{
  color: #5b5b5b;
  text-align: center;
}